/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *
 *= require_self
 *= require_tree .

*=require_bootstrap.min

 */

 li, a {
  float: right;
 }

h1 {
 padding-top: 89px;
 text-align: center;
}

.box {
  background-color: rgba(0, 0, 0, 0.5 );
  width: 600px;
  padding-top: 24px;
  min-height: 150px;
  margin-left: 370px;
  text-align: center;
  border-radius: 12px 12px 12px 12px;
  /*box-shadow: 3px 10px 10px 10px rgba(255, 246, 21, 0.63);*/
  margin-bottom: 150px;
  padding-bottom: 50px;
  margin-top: 117px;

}

.box1 {
  background-color: rgba(92, 98, 165, 0.5);
width: 574px;
padding-top: 24px;
min-height: 150px;
margin-left: 40px;
text-align: center;
border-radius: 12px 12px 12px 12px;
/* box-shadow: 3px 10px 10px 10px rgba(255, 246, 21, 0.63); */
margin-bottom: 138px;
padding-bottom: 22px;
margin-top: 11px;

}
.box2 {
  background-color: rgba(0, 0, 0, 0.5 );
  width: 495px;
  padding-top: 10px;
  min-height: 150px;
  margin-left: 40px;
  text-align: center;
  border-radius: 12px 12px 12px 12px;
  /* box-shadow: 3px 10px 10px 10px rgba(255, 246, 21, 0.63); */
  margin-bottom: 150px;
  padding-bottom: 50px;
  margin-top: -119px;
}

 html, body, #map-canvas {
  height: 100%;
 }

#map-canvas {
 width: 50%;
 margin: 0px;
 float: right;
 height: 66%;
 margin-top: -2px;
}
.box-img {
  background-color: rgba(27, 27, 31, 0.62);
width: 574px;
padding-top: 21px;
min-height: 400px;
margin-left: 40px;
text-align: center;
border-radius: 12px 12px 12px 12px;
/* box-shadow: 3px 10px 10px 10px rgba(255, 246, 21, 0.63); */
margin-bottom: 138px;
padding-bottom: 22px;
margin-top: -308px;
float: right;
}

body {
  background: url("http://www.hddesktopbackgrounds.us/backgrounds-images/1920x1080/b48ti-wallpapers-091421358-1920x1080.jpg");
background-repeat: no-repeat;
background-size: cover;
}


