/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *
 *= require_self
 *= require_tree .

*=require_bootstrap.min
*=require_normalize.css 

 */


 li, a {
  float: right;
 }

h1 {
 padding-top: 89px;
 text-align: center;
 font-family: 'Indie Flower', cursive;
}

.box {
  background-color: rgba(0, 0, 0, 0.5 );
  width: 600px;
  padding-top: 24px;
  min-height: 150px;
  margin-left: 370px;
  text-align: center;
  border-radius: 12px 12px 12px 12px;
  /*box-shadow: 3px 10px 10px 10px rgba(255, 246, 21, 0.63);*/
  margin-bottom: 150px;
  padding-bottom: 50px;
  margin-top: 117px;

}

.box1 {
background-color: rgba(92, 98, 165, 0.5);
width: 574px;
padding-top: 45px;
min-height: 150px;
margin-left: 40px;
text-align: center;
border-radius: 12px 12px 12px 12px;
 /*box-shadow: 3px 10px 10px 10px rgba(10, 10, 10, 0.63); */
margin-bottom: 8px;
margin-top: 13px;
}
#box1 {
background-color: rgba(92, 98, 165, 0.5);
width: 574px;
min-height: 150px;
margin-left: 40px;
text-align: center;
border-radius: 12px 12px 12px 12px;
 box-shadow: 3px 10px 10px 10px rgba(10, 10, 10, 0.63);
margin-bottom: 8px;
margin-top: 77px;
}

.box2 {
  background-color: rgba(0, 0, 0, 0.5 );
  max-width: 278px;
  padding-top: 10px;
  min-height: 190px;
  margin-left: 40px;
  text-align: center;
  border-radius: 12px 12px 12px 12px;
  /* box-shadow: 3px 10px 10px 10px rgba(255, 246, 21, 0.63); */
  margin-bottom: 150px;
  padding-bottom: 50px;
  margin-top: 24px;
}

 html, body, #map-canvas {
  height: 100%;
 }

#map-canvas {
width: 49%;
margin: 33px;
float: right;
height: 68%;
margin-top: 0px;
margin-right: 11px;
box-shadow: 3px 10px 10px 10px rgba(10, 10, 10, 0.63);
}
.box-img {
  background-color: rgba(27, 27, 31, 0.62);
width: 574px;
padding-top: 21px;
min-height: 400px;
margin-left: 40px;
text-align: center;
border-radius: 12px 12px 12px 12px;
/* box-shadow: 3px 10px 10px 10px rgba(255, 246, 21, 0.63); */
margin-bottom: 138px;
padding-bottom: 22px;
margin-top: -305px;
float: right;
}
.uploaded-image {
background-color: rgba(27, 27, 31, 0.62);
width: 642px;
text-align: center;
border-radius: 12px 12px 12px 12px;
box-shadow: -3px 10px 10px 10px rgba(12, 12, 12, 0.63);
margin-bottom: 113px;
float: right;
margin-right: -58px;
}

body {
  background: url("http://www.hddesktopbackgrounds.us/backgrounds-images/1920x1080/b48ti-wallpapers-091421358-1920x1080.jpg");
background-repeat: repeat;
background-size: cover;
}
.box-list2 {
background-color: rgba(113, 115, 141, 0.5);
width: 276px;
min-height: 147px;
margin-left: 45px;
text-align: center;
border-radius: 12px 12px 12px 12px;
box-shadow: 3px 10px 10px 10px rgba(10, 10, 10, 0.63);
margin-top: 33px;
float:left;
}
.bucket-list {
background-color: rgba(113, 115, 141, 0.5);
width: 276px;
min-height: 147px;
margin-left: 23px;
text-align: center;
border-radius: 12px 12px 12px 12px;
box-shadow: 3px 10px 10px 10px rgba(10, 10, 10, 0.63);
margin-top: 33px;
float:left;
}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  animation-name: fadeIn;
}








